<section id="main">
  <div class="inner">
    <p>Assign List, click to delete</p>
    <% if @assign != nil%>
      <div class='row'>
        <%@assign.each do |a|%>
          <%=link_to a.user.name, question_assign_path(params[:question_id],a.id) , method: :delete , data: { confirm: 'Are you sure?' } %>
        <%end%>
      </div>
    <%end%>


    <%= form_for [@question, @question.assigns.new] do |f| %>
      <h5>할당합니다.</h5>
      <div class="field">
        <%= f.label :user_id,required: true %><br />
        <%= f.text_field :user_id, autofocus: true %>
      </div>
      <div class="field">
        <%= f.label :mentorgroup_id,required: true %><br />
        <%= f.text_field :mentorgroup_id, autofocus: true %>
      </div>
      <div class="btn-group">
        <%= f.submit "작성하기", class: 'btn-lightgreen' %>
      </div>
    <%end%>

    <% @mentorgroups.each do |a| %>
      <p>멘토그룹</p>
      id : <%= a.id%> | 이름 : <%= a.name%> </br></br>
      <p>User list</p>

      <%a.WorksFor.each do |b|%>
        id :   <%=b.user_id%>| 이름 : <%=b.user.name%></br>
        <%end%>
    <%end%>
  </div>
</section>
