<section id="main">
  <div class="inner">
    <p id="notice"><%= notice %></p>

    <%if (@is_super == true) %>
      <%= link_to "질문 할당하기",   category_question_aq_path(params[:category_id],params[:id]) %>
    <%elsif user_signed_in? && current_user.is_admin == true%>
      <%= link_to "질문 할당하기",   category_question_adminaq_path(params[:category_id],params[:id]) %>
    <%end%>



    <h1><%=@question.title%></h1>
    <p><%= raw @question.content%></p>
    <%if @qeval != nil%>
      <h6>회원님의 평가점수 : <%= @qeval.ratepoint%> | 평균점수 : <%= @qeval_avr%></h6>
    <%end%>
    <%if @can_qeval && (@is_super == false) && (@is_mentor == false)%>
      <%if user_signed_in? &&current_user.qevals.where(question_id: @question.id).first == nil && current_user.is_admin == false%>
        <%= form_for [@question,@question.qevals.new] do |f| %>
          <div class="field">
            <%= f.label "얼마나 좋은 질문인가요?", required: true , class:"eval"%><br />
            <%= f.radio_button(:ratepoint, 1) %>
            <%= f.label :ratepoint_1, '1'%>
            <%= f.radio_button(:ratepoint, 2) %>
            <%= f.label :ratepoint_2, '2'%>
            <%= f.radio_button(:ratepoint, 3) %>
            <%= f.label :ratepoint_3, '3'%>
            <%= f.radio_button(:ratepoint, 4) %>
            <%= f.label :ratepoint_4, '4'%>
            <%= f.radio_button(:ratepoint, 5) %>
            <%= f.label :ratepoint_5, '5'%>
            <%= f.submit "평가하기" %>
          </div>
        <%end%>
      <%elsif user_signed_in?%>
        <%= form_for [@question,@qeval], method: "patch" do |f| %>
          <div class="field">
            <%= f.label "평가 수정하기", required: true , class:"eval"%><br />
            <%= f.radio_button(:ratepoint, 1) %>
            <%= f.label :ratepoint_1, '1'%>
            <%= f.radio_button(:ratepoint, 2) %>
            <%= f.label :ratepoint_2, '2'%>
            <%= f.radio_button(:ratepoint, 3) %>
            <%= f.label :ratepoint_3, '3'%>
            <%= f.radio_button(:ratepoint, 4) %>
            <%= f.label :ratepoint_4, '4'%>
            <%= f.radio_button(:ratepoint, 5) %>
            <%= f.label :ratepoint_5, '5'%>
            <%= f.submit "수정하기" %>
          </div>
        <%end%>
      <%end%>
    <%else%>

    <%end%>


    <%if user_signed_in?%>
      <%if (@question.user.id == current_user.id) || (@is_super ==true) || (current_user.is_admin==true)%>
        <%= link_to 'Edit', edit_category_question_path(params[:category_id],params[:id]) %> |
        <%= link_to 'Delete', category_question_path(params[:category_id]),method: :delete %>
        질문의 평가 평균 : <%=@qeval_avr%> | 표준편차 : <%=@qeval_dev%>
      <%end%>
    <%end%>

    <hr>


     <p><%= @question.hevals.count %>개의 100점제 평가</p>
     <%if @question.hevals.first != nil%>
       <% @question.hevals.each do |a|%>
       <hr>
          <p><%=  a.question1 %></p>
          <p><%=  a.question2 %></p>
          <p><%= raw a.question3 %></p>
          <%if user_signed_in?%>
            <%if (a.user.id == current_user.id) || (@is_super ==true) || (current_user.is_admin==true)%>
              <%= link_to 'Edit', edit_question_heval_path(params[:id],a.id) %> |
              <%= link_to 'Delete', question_heval_path(params[:id],a.id), method: :delete %>
              질문의 평가 평균 : <%=@heval_avr%> | 표준편차 : <%=@heval_dev%>
            <%end%>
          <%end%>
       <%end%>
     <%end%>
     <hr>

    <p><%= @question.answers.count %>개의 답변</p>

    <!-- 답변 리스트-->
    <%if @question.answers.first != nil%>
      <% @question.answers.each_with_index do |a,c|%>
      <hr>

        <%d = c+1000000%>
        <p><%= raw a.content %></p>
        <%if a.aevals.where(answer_id: a.id).first != nil%>
          <h6>회원님의 평가점수 : <%= a.aevals.where(answer_id: a.id).first.ratepoint%> | 평균점수 : <%= a.aevals.average("ratepoint")%></h6>
        <%end%>
        <%if (a.created_at + $due) > Time.now%>
        <!-- 수정하기 넣어야함 -->
          <% if current_user.is_admin == false && @is_mentor==false && @is_super == false%>
            <%if user_signed_in? &&current_user.aevals.where(answer_id: a.id).first == nil %>
              <%= form_for [@question,a,a.aevals.new] do |f| %>
                <div class="field">
                  <%= f.label "얼마나 좋은 답변인가요?", required: true %><br />
                  <%= f.radio_button(:ratepoint, 1, :name =>"aeval_#{c}",:id=> "aeval_#{c}_1") %>
                  <%= f.label "#{c}_1", '1'%>
                  <%= f.radio_button(:ratepoint, 2, :name =>"aeval_#{c}",:id=> "aeval_#{c}_2") %>
                  <%= f.label "#{c}_2", '2'%>
                  <%= f.radio_button(:ratepoint, 3, :name =>"aeval_#{c}",:id=> "aeval_#{c}_3") %>
                  <%= f.label "#{c}_3", '3'%>
                  <%= f.radio_button(:ratepoint, 4, :name =>"aeval_#{c}",:id=> "aeval_#{c}_4") %>
                  <%= f.label "#{c}_4", '4'%>
                  <%= f.radio_button(:ratepoint, 5, :name =>"aeval_#{c}",:id=> "aeval_#{c}_5") %>
                  <%= f.label "#{c}_5", '5'%>
                  <%= f.hidden_field :cnino, :value => c%>
                  <%= f.submit "평가하기" %>
                </div>
              <%end%>
            <%elsif user_signed_in?%>

              <%= form_for [@question,a,a.aevals.where(answer_id: a.id).first], url: question_answer_aeval_path(@question.id,a.id,a.aevals.where(answer_id: a.id).first.id), method: "patch" do |f| %>
                  <%@aeval_avr = a.aevals.average("ratepoint")%>
                  <%       q5array = Array.new%>
                  <%if(a.aevals.first != nil)%>
                    <%       a.aevals.each do |b| %>
                      <%         q5array.push(b.ratepoint)%>
                    <%end%>
                      <%if q5array.size >1%>
                        <%  @aeval_dev = q5array.stdev%>
                      <%end%>
                  <%end%>
                <div class="field">
                  <%= f.label "평가 수정하기", required: true , class:"eval"%><br />
                  <%= f.radio_button(:ratepoint, 1, :name =>"aeval_#{d}",:id=> "aeval_#{d}_1") %>
                  <%= f.label "#{d}_1", '1'%>
                  <%= f.radio_button(:ratepoint, 2, :name =>"aeval_#{d}",:id=> "aeval_#{d}_2") %>
                  <%= f.label "#{d}_2", '2'%>
                  <%= f.radio_button(:ratepoint, 3, :name =>"aeval_#{d}",:id=> "aeval_#{d}_3") %>
                  <%= f.label "#{d}_3", '3'%>
                  <%= f.radio_button(:ratepoint, 4, :name =>"aeval_#{d}",:id=> "aeval_#{d}_4") %>
                  <%= f.label "#{d}_4", '4'%>
                  <%= f.radio_button(:ratepoint, 5, :name =>"aeval_#{d}",:id=> "aeval_#{d}_5") %>
                  <%= f.label "#{d}_5", '5'%>
                  <%= f.submit "수정하기" %>
                </div>
              <%end%>
            <%end%>
            <%if user_signed_in?%>
              <%if (a.user.id == current_user.id) || (@is_super ==true) || (current_user.is_admin==true)%>
                <%= link_to 'Edit', edit_question_answer_path(params[:id],a.id) %> |
                <%= link_to 'Delete', question_answer_path(params[:id],a.id), method: :delete %>
                질문의 평가 평균 : <%=@aeval_avr%> | 표준편차 : <%=@aeval_dev%>
              <%end%>
            <%end%>
          <%end%>
        <%end%>

      <%end%>
    <%end%>

    <%if @can_qeval%>
    <hr>

      <%if user_signed_in?%>
        <%if @is_mentor == true || @is_super == true %>
          <%= form_for [@question, @question.hevals.new] do |f| %>
            <h4>멘토님, 백점제 평가를 해주세요.</h4>
            <div class="field">
              <%= f.label "질문이 얼마나 자세히 설명되어있나요?",required: true %><br />
             <%= f.radio_button(:question1, 10) %>
             <%= f.label :question1_10, '10'%>
             <%= f.radio_button(:question1, 20) %>
             <%= f.label :question1_20, '20'%>
             <%= f.radio_button(:question1, 30) %>
             <%= f.label :question1_30, '30'%>
             <%= f.radio_button(:question1, 40) %>
             <%= f.label :question1_40, '40'%>
             <%= f.radio_button(:question1, 50) %>
             <%= f.label :question1_50, '50'%>


            </div>
            <div class="field">
              <%= f.label "질문이 얼마나 전문적인 내용인가요?",required: true %><br />
              <%= f.radio_button(:question2, 10) %>
              <%= f.label :question2_10, '10'%>
              <%= f.radio_button(:question2, 20) %>
              <%= f.label :question2_20, '20'%>
              <%= f.radio_button(:question2, 30) %>
              <%= f.label :question2_30, '30'%>
              <%= f.radio_button(:question2, 40) %>
              <%= f.label :question2_40, '40'%>
              <%= f.radio_button(:question2, 50) %>
              <%= f.label :question2_50, '50'%>

            </div>
            <div class="field">
              <%= f.label "답변을 입력해주세요.",required: true %><br />
              <%= f.cktext_area :question3, class:"tinymce" %>
            </div>
            <div class="btn-group">
              <%= f.submit "작성하기", class: 'btn-lightgreen' %>
            </div>
          <%end%>

        <%else%>
          <%= form_for [@question, @question.answers.new] do |f| %>
            <h5>당신의 답변을 달아주세요!</h5>
            <div class="field">
              <%= f.cktext_area :content, class:"tinymce" %>
            </div>
            <div class="btn-group">
              <%= f.submit "작성하기", class: 'btn-lightgreen' %>
            </div>
          <%end%>
        <% end %>
      <%end%>
    <%end%>


  </div>
</section>
