<section id="one">
  <div class="inner">
    <h2>Edit <%= @user.email %></h2>

    <%= form_for(@user, url: admin_updatemember_path(@user.id), html: { method: :put }) do |f| %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>




      <div class="field">
        <%= f.label :name,required: true %><br />
        <%= f.text_field :name, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :nickname,required: true %><br />
        <%= f.text_field :nickname, autofocus: true %>
      </div>
      <div class="field">
        <%= f.label :birth,required: true %><br />
        <%= f.date_field :birth, autofocus: true %>
      </div>

      <div class="actions">
        <%= f.submit "Update" %>
      </div>
    <% end %>

    <h3>Cancel my account</h3>

    <p>삭제하시겠습니까? <%= button_to "Cancel my account", admin_deletemember_path(:id), data: { confirm: "Are you sure?" }, method: :delete %></p>

    <%= link_to "Back", :back %>
  </div>
</section>
