<section id="main">
  <div class="inner">
  <%if current_user.is_admin == true%>
    <p>현재 수퍼멘토 이메일(버튼을 눌러 수퍼멘토 삭제)</p>
    <% if @current_super != "now empty"%>
      <%= button_to @current_super.email, destroysuper_mentorgroup_path(params[:id]), :method => :delete %></br>
    <%end%>
    <p>User list</p>
    <%@user.each do |a|%>
      id : <%=a.id%>, 이메일 : <%=a.email%></br>
    <%end%>
    </br>
    <%= form_for(@mentorgroup, :url => updatesuper_mentorgroup_path) do |f| %>
      <% if @mentorgroup.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(mentorgroup.errors.count, "error") %> prohibited this mentorgroup from being saved:</h2>
          <ul>
          <% mentorgroup.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <div class="field">
        <%= f.label :user_id, "User ID를 입력해주세요" ,required: true %><br />
        <%= f.text_field :user_id, autofocus: true %>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
    <%end%>
  <%end%>
</div>
</section>
