<header id="header">
  <div class="inner">
    <%= link_to "YonseiOverFlow", root_path,:class => "logo"%>

    <%= link_to "HOME", root_path%>
    <%if user_signed_in?%>
      <%if current_user.is_admin == true%>
        <%= link_to "Admin Page",admin_index_path %>
      <%end%>
      <%= link_to "My page",user_path(current_user.id) %>
    <%else%>
        <%= link_to "로그인", new_user_session_path %>
    <%end%>
    <%if user_signed_in?%>
        <%= link_to "로그아웃", destroy_user_session_path, :method => :delete%>
    <%else%>
        <%= link_to "회원가입", new_user_registration_path %>
    <%end%>
  </div>
</header>
